<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3" class="left">
      <h3>LOGO</h3>
      <p>Log in Admin</p>
      <div>
        <input
          type="text"
          class="userId"
          id="#uId"
          placeholder="Username"
          style="width: 180px;"
        />
      </div>

      <br />
      <div>
        <input
          type="password"
          class="password"
          id="pword"
          placeholder="Password"
          style="width: 180px;"
        />
      </div>

      <br />
      <div>
        <button
          type="submit"
          class="button"
          (click)="abc()"
          class="btn btn-primary btn-sm"
          style="width: 180px;"
        >
          Login
        </button>
        <p>Forgot Password ?</p>
      </div>
    </div>
    <div class="col-lg-9" class="right">
      <h6>Lorem ipsum is simply dummy text</h6>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
        asperiores dolores. Ea iusto quibusdam repudiandae!
      </p>
      <button
        type="submit"
        class="button"
        (click)="abc()"
        class="btn btn-primary btn-sm"
      >
        Learn More
      </button>
    </div>
  </div>
</div>
