<div class="con">
  <div class="leftside">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          routerLink="/dash"
          style="background: rgba(67, 67, 211, 0.87);"
          >Dashboard</a
        >
      </li>
      <li class="nav-item" class="nav-link">
        Stores
      </li>
      <li class="nav-item" class="nav-link">
        Products
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/invoice">Invoices</a>
      </li>
      <li class="nav-item" class="nav-link">
        Quatation
      </li>
      <li class="nav-item" class="nav-link">
        Purchase Order
      </li>
      <li class="nav-item" class="nav-link">
        Bills
      </li>
      <li class="nav-item" class="nav-link">
        Payments
      </li>
      <li class="nav-item" class="nav-link">
        Reports
      </li>
    </ul>

    <p class="copyright">copyright</p>
  </div>
  <div class="right">
    <br /><br />
    <div class="r1">
      <div class="r11">
        <h5>10,000</h5>
        <p>Total sales</p>
      </div>
      <div class="r11">
        <h5>2345</h5>
        <p>Invoices</p>
      </div>
      <div class="r11">
        <h5>145</h5>
        <p>Stores</p>
      </div>
      <div class="r11">
        <h5>2,333</h5>
        <p>Product</p>
      </div>
      <div class="r11">
        <h5>32</h5>
        <p>Pur.order</p>
      </div>
    </div>
    <br /><br />
    <div class="r2">
      <div class="r22">Date</div>
      <div class="r22">Region</div>
      <div class="r22">Zone</div>
    </div>
    <br />
    <div class="r3">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Today
        </button>
      </div>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          All
        </button>
      </div>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          All
        </button>
      </div>
      <div class="dropdown"><p>filter</p></div>
    </div>
    <br /><br />
    <div class="r4">
      <h5>Total Sales</h5>
    </div>
    <br />
    <div class="r5">
      <canvas id="canvas" style="width: 90%; height: 200px;"></canvas>
    </div>
  </div>
</div>
